
<div class="page-header">
  <h1><%=@event.name%></h1>
</div>

<%= markdown @event.description %>

<h2>Vorverkauf</h2>
<hr>
<% if current_user %>

  <%= render partial:"orders/root_table" %>

  <%=link_to "Get stuff >", products_url, {class:"btn btn-primary"} %>
  <br/><br/>

<% else %>

<div class="col-sm-6">
  <h3>Account anlegen</h3>
  <%= link_to "Hier", new_user_registration_path %>
</div>

<div class="col-sm-6">
  <h3>Einloggen</h3>
  <%= link_to "Hier", new_user_session_path %>
</div>

<%=link_to "Get stuff >", products_url, {class:"btn btn-primary"} %>

<% end %>
