
<div class="page-header">
  <h1><%=@event.name%></h1>
</div>

<%=markdown @event.description if @event.description %>

<h2><%=t"welcome.Presale"%></h2>
<hr>
<% if current_user %>

  <%=render partial:"orders/root_table" %>

  <%=link_to products_url, {class:"btn btn-primary"} do %>
    <%=t("welcome.GetStuff")%> <span class="fa fa-chevron-right"></span>
  <% end %>
  <br/><br/>

<% else %>

<div class="col-sm-4">
  <p><%=link_to t("welcome.CreateAccount"), new_user_registration_path, {class:"btn btn-primary btn-block"} %></p>
</div>

<div class="col-sm-4">
  <p><%=link_to t("welcome.Login"), new_user_session_path , {class:"btn btn-primary btn-block"} %></p>
</div>

<div class="col-sm-4">
  <p>
    <%=link_to products_url, {class:"btn btn-primary btn-block"} do %>
      <%=t("welcome.GetStuff")%> <span class="fa fa-chevron-right"></span>
    <% end %>
  </p>
</div>

<% end %>
