<h1>[FooBarBlubber]</h1>
(This is your anti phishing secret)

<% if @valid && @sold_product.downloadable? %>


  <div class="alert alert-success">This is a valid Code.</div>
  <h1><%=@sold_product.name %></h1>
  <div class="row">
    <div class="col-xs-6">
      <span class="product-previews">
        <% if @sold_product.former_product.images.length > 0 %>
          <% @sold_product.former_product.images.each do |image| %>
            <%=link_to @sold_product.product do
              image_tag(image.image.url(:thumb))
            end %>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="col-xs-6">
      <a href="<%=issue_path %>" data-method="delete" class="btn btn-primary btn-block" >Use it!</a>
      <hr>
      <a href="<%=validation_index_path%>" class="btn btn-danger btn-block"  >Cancel</a>
    </div>
  </div>


<% elsif @valid && @sold_product.issued? %>

  <div class="alert alert-danger">This Ticket has already been used.</div>

<% else %>
  <div class="alert alert-danger">This is not a valid Ticket.</div>
<% end %>
