<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Your orders</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Products</th>
              <th>Sum</th>
              <th>Paid?</th>
            </tr>

            <% @orders.each do |order| %>
            <tr>
              <td><%=link_to order, order %></td>
              <td><b><%=order.sum %> Eur</b></td>
              <td>
                <% if order.reserved? %><span class="label label-warning">Reserved</span><% end %>
                <% if order.paid? %><span class="label label-success"><span class="fa fa-check"></span> Paid</span> <%=link_to "Download Tickets", order %><% end %>
                <% if order.canceled? %><span class="label label-danger">Canceled</span><% end %>
              </td>
            </tr>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
