<div class="page-header">
  <%= link_to products_path, :class => 'btn btn-default' do %>
  <span class="fa fa-list-alt"></span>
  <%=t"scaffold.Back"%>
  <% end %>
  <h1><%=t"products.New product"%></h1>
</div>

<%= render 'form' %>
